body {
    width: 100%;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 2.5fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "HEADER-1 HEADER-2 HEADER-3"
    "MAIN-1 MAIN-1 MAIN-1"
    ". . .";
}

.HEADER-1 { grid-area: HEADER-1; }

.HEADER-2 { 
    grid-area: HEADER-2;
    text-align: center; 
    font-family: andale mono, monospace;
}

.HEADER-3 { grid-area: HEADER-3; }

.MAIN-1 { 
    grid-area: MAIN-1; 
    background-color: black;
    font-family: andale mono, monospace;
    height: 100%;
    color: white;
    margin: auto;
    justify-content: center;
    padding: 25px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
